<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kotlinpractice">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KotlinPractice">
        <activity
            android:name=".navermap.view.NaverMapActivity"
            android:exported="false" />
        <activity
            android:name=".choicelunch.view.ChoiceLunchActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".calendar.view.CalendarActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- 네이버 지도 -->
        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="kvmxrl61z9" />
    </application>

</manifest>